body{
    margin: 0;
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    /* height: 100%;
    width: 100%; */
    display: flex;
    justify-content: center;
}

.container{
    height: 93vh;
    width: 32.5vw;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    text-align: center;
    padding: 20px 10px 24px 10px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif;
}

.container img{
    height: 7vh;
    width: 7vh;
    margin-top: 1vh;
}

h1{
    margin-top: 0;
    color: rgb(51, 51, 51);  
    letter-spacing: -1.2px;
    font-size: 32px;
    font-weight: 600;
}

label{
    font-size: 2.1vh;
    margin-right: 32vh;
}

#eid{
    margin-right: 35vh;
}

input{
    border: 2px solid #CDCDCD;
    border-radius: 15px;
    height: 3vh;
    width: 39vh;
    padding: 2vh;
    outline-color: #7FC1FF;
    margin-top: 0.5vh;
}

#forgot_pass{
    color: black;
    font-weight: bold;
    font-size: 2.15vh;
    text-decoration: none;
    margin-right: 18vh;
}

#forgot_pass:hover{
    text-decoration: underline;
}

#submit{
    margin-top: 3vh;
}

button{
    background-color: #E60023;
    color: white;
    font-weight: bold;
    font-size: 2.5vh;
    border-radius: 25px;
    border: none;
    height: 7vh;
    width: 43.5vh;
    cursor: pointer;
}

button:hover{
    background-color: #B60000;
}

.or{
    font-weight: bold;
}

.privacy{
    font-size: 1.9vh;
    margin: 4vh 15vh 2vh 15vh;
}

.privacy a{
    color: black;
    text-decoration: none;
}

.error{
    color: #E60023;
    font-size: 2.1vh;
    margin-bottom: 1vh;
    margin-left: 13vh;
    margin-right: 13vh;
}
